body{
    background-color: black;
}

.error{
    text-align: center;
    font-family: 'Arial';
    font-size: 55px;
    color: white;
}

.about{
    text-align: center;
    font-family: 'Arial';
    font-size: 25px;
    color: white;
}