body {
    background: black;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }

.welcome {
    text-align: center;
    font-family: 'Arial';
    font-size: 60px;
    color: white;
 }
 
.dpageb {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 250px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.dpageb:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: darkseagreen
}

.ytb {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 350px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.ytb:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: linear-gradient(90deg, #FF0000, #282828);
}

.twitchb {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 450px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.twitchb:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: purple
}

.ttb {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 64px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 550px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

.ttb:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: linear-gradient(90deg, aqua, red);
 }

.dscb {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 650px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
} 

.dscb:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #5865F2
}

 .vkb {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 750px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
} 

.vkb:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #2787F5
}  

.instb {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 850px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.instb:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.tgb {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 64px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 950px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

.tgb:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #2F9ADA
 }

.steamb {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 64px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 1050px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  } 

.steamb:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background:linear-gradient(120deg, #00adee, #000000);
} 

.ghb {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 64px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 1150px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  } 

.ghb:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background: radial-gradient(circle, rgba(190,190,190,1) 0%, rgba(0,0,0,1) 100%);
}  

.qiwib {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 1250px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
} 

.qiwib:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: orange;
} 

.xvdsb {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 1350px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  visibility: hidden;
} 

.xvdsb:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background: linear-gradient(90deg, red 1%, white 99%);
} 

.footertext{
  font-family: 'Arial';
  padding: 15px 64px;
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 1375px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 0px;
  margin-bottom: 10px;
  color: #ffffff;
  cursor: pointer;
}

