body {
    background: black;
  }

.welcome {
    text-align: center;
    font-family: 'Arial';
    font-size: 60px;
    color: white;
 }
 
.ytb {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 64px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 250px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

.ytb:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
 }

.ttb {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 64px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 350px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

.ttb:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
 }

 .vkb {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 450px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
} 

.vkb:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #4CAF50;
}  

.instb {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 550px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.instb:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #4CAF50;
}

.tgb {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 64px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 650px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

.tgb:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
 }

.steamb {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 64px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 750px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  } 

.steamb:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
} 

.ghb {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 64px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    margin: 0;
    position: absolute;
    top: 850px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  } 

.ghb:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50;
}  

.qiwib {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 64px;
  align-items: ce;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 0;
  position: absolute;
  top: 950px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
} 

.qiwib:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #4CAF50;
} 

.footertext{
  font-family: 'Arial';
  padding: 15px 64px;
  text-decoration: none;
  font-size: 20px;
  margin: 0;
  position: absolute;
  top: 1100px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: 0px;
  margin-bottom: 10px;
  color: #ffffff;
  cursor: pointer;
}

