body{
    background-color: black;
}

.maintext{
    text-align: center;
    font-family: 'Arial';
    font-size: 55px;
    color: white;
}

.about{
    text-align: center;
    font-family: 'Arial';
    font-size: 25px;
    color: white;
}

.rub{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 65px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0;
    position: absolute;
    top: 650px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }

  .enb{
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 64px;
    align-items: ce;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 0;
    position: absolute;
    top: 650px;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
  }